<!doctype html>
<html lang="en">

<head>
  <title>Samsung Service</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!-- Bootstrap CSS v5.2.1 -->
</head>

  <body [class.body-pd]="classApplied" id="corpo-site">
    <header [class.body-pd]="classApplied" class="menu-superior" id="menu-superior">
        <div class="btn-menu">
            <i (click)="toggleMenu()" [class.bx-x]="classApplied" class='bx bx-menu' id="btn-menu"></i>
        </div>

        <div></div>
            <i class="bx bxs-bell icone"></i>
    </header>

    <div [class.show]="classApplied" class="menu-lateral" id="menu-lateral">
        <nav class="nav">
            <div>
                <a href="#" class="menu-logo">
                    <img src="../assets/something.png" alt="" class="menu-logo-img">
                    <span class="menu-logo-nome">Alvotec Igrejas</span>
                </a>

                <div>
                    <a href="#" (click)="toggleColor(this)"  class="nav-lista ativo">
                        <i class='bx bx-home nav-icone' ></i>
                        <span>Pagina Inicial</span>
                    </a>

                    <a href="#" class="nav-lista">
                    <i class='bx bx-plus nav-icone' ></i>
                        <span>Cadastros</span>
                    </a>

                    <a href="#" class="nav-lista">
                        <i class='bx bx-box nav-icone' ></i>
                        <span>Estoque</span>
                    </a>
                    
                    <a href="#" class="nav-lista">
                        <i class='bx bx-message-square-detail nav-icone' ></i>
                        <span>Vendas</span>
                    </a>

                    <a href="#" class="nav-lista">
                        <i class='bx bx-purchase-tag nav-icone' ></i>
                        <span>Compras</span>
                    </a>

                    <a href="#" class="nav-lista">
                        <i class='bx bx-dollar nav-icone' ></i>
                        <span>Financeiro</span>
                    </a>

                    <a href="#"  class="nav-lista">
                        <i class='bx bx-receipt nav-icone' ></i>
                        <span>NF</span>
                    </a>

                    <a href="#" class="nav-lista">
                        <i class='bx bx-bar-chart-alt-2 nav-icone' ></i>
                        <span>Relatório</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

  <main>
    <app-home-menu></app-home-menu>
  </main>
  <footer>
    <!-- place footer here -->
    
  </footer>
</body>
